* {margin: 0;padding: 0;}
html {height: 100%}
body {font: 12px/18px Tahoma, Arial, sans-serif;height: 100%;background:white;behavior: url("../scripts/csshover.htc");}
a {color: black;outline: none;text-decoration: underline;}
a:hover {text-decoration: none;}
p {margin: 0 0 18px}
img {border: none;}
input {vertical-align: middle}
#wrapper {width: 977px;*width:975px;margin: 0 auto;min-height: 100%;height: auto !important;height: 100%;position:relative;}
.container {width:1044px!important;}

.header{
	height: 88px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.header_block1{
	width: 20% !important;
}


.header_block4{
	width: 30% !important;
}


.header_logo{
	background: url(/templates/short/images/small_logo.png) center top no-repeat;
	height: 90px;
	margin-top: 10px;

}

.header_phone{
	margin-top: 38px;
	font-family: Georgia;
	font-size: 12pt;

}

.header_order{
	border: 1px solid #c9c7c8;
	width: 245px;
	height:65px;
	color:#908993;
	margin-top: 10px;
	padding: 10px 20px;
	font-family: Cuprum;
	font-size: 16px;
}

.header_delivery{
	border: 1px solid #f0008e;
	width: 270px;
	height:65px;
	color:#f0008e;
	margin-top: 10px;
	padding: 10px 20px;
	font-family: Cuprum;
	font-size: 16px;
}

.header_complete{
	margin-top: 25px;
	float: right;
}

.georgia_head {font-family:Georgia;font-style:italic;font-weight:normal}

.korz_kol-vo {
	position: relative;
	border: 1px solid #e2e3ea;
	padding: 0 20px 1px 3px;
	float: left;
}