{strip}
<tr style="background-color:#f8f8f8;">
	<td align="center" height="20px"><input type="checkbox" name="id[]" value="{$item[i].id}"></nobr></td>
	<td align="left">
		&nbsp;<a href="?main={$smarty.get.main}
					   &module={$smarty.get.module}
					   &action=edit
					   &id={$item[i].id}">{$item[i].login}</a>
	</td>
	<td align="center">{$item[i].name_role}</td>
	<td align="center"><img src="images/{$item[i].is_block}" width="14" height="14" border="0"></td>
	<td align="center">{$item[i].is_public}</td>
</tr>
{/strip}