

.shadow-block {
	-webkit-box-shadow:  0px 0px 5px 2px #e8e8e7;
    box-shadow:  0px 0px 5px 2px #e8e8e7;
    border-radius: 3px;
    padding: 20px;
    margin-left: 35px;
    margin-right: 55px;
    margin-bottom: 30px;
}
.shadow-block__title {
	font-size: 30px;
	line-height: 30px;
	font-family: Georgia;
	font-style: italic;
}
.cart_rebrand.cart_v2 .notes {
	font-size:11px;
	padding-left: 30px;
	margin-left: 0;
	background: url(/images/cart_v2/notes.png) 0 0 no-repeat;
	margin-bottom: 35px;
}
#rebrand .cart_rebrand.cart_v2 .desc_rebrand {
	margin-left: 30px;
	width: 440px;
}
.want_to_buy {
	display: inline-block;
	border:1px solid #bf005a;
	border-radius: 10px;
	color: white;
	text-decoration: none;
	padding:0 20px;
	line-height: 26px;
	font-family: Georgia;
	font-style: italic;
	font-size:18px;
	overflow: hidden;
	background: #ee2f89; /* Old browsers */
	
	-webkit-box-shadow: inset  1px 2px  #f35db1;
    box-shadow: inset  1px 2px  #f35db1;
}
.want_to_buy1 {
	font-size: 18px;
	color: #f31a9f;
	border-bottom: 1px dashed;
	text-decoration: none;
	font-style: italic;
	font-family: Georgia;
}
.want_to_buy1:hover {
	border-color: transparent;
} 
.cart_rebrand.cart_v2 .price_old {
	font-size:18px;
	font-style: italic;
	font-family: Georgia
}
.cart_rebrand.cart_v2 .price {
	font-size:18px;
	font-style: italic;
	font-family: Georgia;
	color: #9339d4;
	display: inline-block;
	margin-bottom: 10px;
}

#rebrand .cart_v2 .rebrand_cart_t td {
	border-bottom: 1px solid #c6b3d7;
	padding: 10px 0 12px 15px; 
}