input[type="password"],
input[type="text"] {
    padding-left: 8px;
    border: 1px solid #cacaca;
    width: 100%;
    color: #999;
    font-size: 16px;
}
textarea {
  color: #999;
  width: 100%;
  border: 1px solid #cacaca;
  padding:5px;
  font-family: Arial;
  font-size:12px;
}
select {
  color: #999;
  padding:2px 10px;
  width: 100%;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #cacaca;
}

.fs26 {
  font-size: 26px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button::-moz-focus-inner, 
input[type="reset"]::-moz-focus-inner, 
input[type="button"]::-moz-focus-inner, 
input[type="submit"]::-moz-focus-inner, 
input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding:0; margin:0; }

.dashed {
  border-bottom: 1px dashed;
  text-decoration: none;
}
.dashed:hover {
  border-color: transparent;
  text-decoration: none;
}

/* --------------------------------------------------------------
  !HELP CLASSES
-------------------------------------------------------------- */
.clear {clear:both}
.hide {display:none;}
.hidden {display: none}
.show {display:block;}
.h10 {height:10px}
.h24 {height:24px}
.h20 {height: 20px}
.h22 {height: 22px}
.h27 {height: 27px}
.h30 {height:30px;}

.bold_orange, .bold_orange * {
  font-weight: bold !important;
  color: #f37021 !important;
  font-size:16px !important;
}

.border-type1 {
  border: 1px solid #b37b00;
}

.georgia {font-family: Georgia}
.cambria {font-family: Cambria}
.tahoma {font-family: Tahoma}
.trebuchet {font-family: "Trebuchet MS"}

.uppercase {text-transform: uppercase;}

.d_block {display: block !important}
.d_inline {display: inline !important}
.d_inline-block {display: inline-block;}

.relative {position: relative;}
.absolute {position: absolute !important;}


.lowercase {text-transform:lowercase;}
.bold {font-weight:400;}
.bold_fat {font-weight: 700;}
.italic {font-style: italic;}
.fw_normal {font-weight: normal;}

.fl_right {float:right !important}
.fl_left {float:left}

.fs10 {font-size:10px !important;line-height:11px;}
.fs11 {font-size:11px !important;line-height:16px;}
.fs12 {font-size:12px !important;line-height:18px;}
.fs13 {font-size:13px !important;line-height:18px;}
.fs14 {font-size:14px;line-height:20px;}
.fs15 {font-size:15px !important;line-height:18px;}
.fs16 {font-size:16px !important;line-height:20px;}
.fs17 {font-size: 17px !important}
.fs18 {font-size: 18px !important}
.fs19 {font-size: 19px !important}
.fs20 {font-size: 20px !important}
.fs22 {font-size: 22px !important}
.fs23 {font-size: 23px !important;}
.fs24 {font-size: 24px;}
.fs25 {font-size: 25px !important;}
.fs28 {font-size: 28px !important;}
.fs30 {font-size: 30px !important;}
.fs55 {font-size: 55px !important;line-height: 55px;}

.lh20 {line-height: 20px !important;}
.lh22 {line-height: 22px !important;}
.lh24 {line-height: 24px !important;}
.lh27 {line-height: 27px !important;}
.lh25 {line-height: 25px !important;}
.lh30 {line-height: 30px !important;}
.lh16 {line-height: 16px !important;}
.lh14 {line-height: 14px !important;}
.lh18 {line-height: 18px !important;}
.lh17 {line-height: 17px !important;}

.w252 {
  width: 252px !important;
}
.w770 {
  width: 770px !important;
}

.border-red {border:1px solid red !important}

.m5 {margin:5px !important}
.mb0 {margin-bottom: 0 !important}
.mb2 {margin-bottom: 2px !important}
.mb5 {margin-bottom: 5px !important}
.mb6 {margin-bottom: 6px !important}

.m0auto {margin: 0 auto;}

.mb7 {margin-bottom: 7px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb18 {margin-bottom:18px !important}
.mb20 {margin-bottom:20px !important}
.mb22 {margin-bottom:22px !important}
.mb25 {margin-bottom:25px !important}
.mb30 {margin-bottom:30px !important}
.mb35 {margin-bottom:35px !important}
.mb40 {margin-bottom:40px !important}
.mb45 {margin-bottom:45px !important}
.mb50 {margin-bottom: 50px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml6 {margin-left:6px !important;}
.ml10 {margin-left:10px !important;}
.ml80 {margin-left:80px !important;}
.ml15 {margin-left:15px !important;}
.ml30 {margin-left: 30px !important;}
.ml50 {margin-left: 50px !important;}

.mt0 {margin-top: 0 !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt-30 {margin-top:-30px !important;}

.mr0 {margin-right: 0 !important}
.mr3 {margin-right: 3px !important}
.mr5 {margin-right: 5px !important}
.mr6 {margin-right: 6px !important}
.mr10 {margin-right: 10px !important}
.mr15 {margin-right: 15px !important}
.mr20 {margin-right: 20px !important}
.mr25 {margin-right: 25px !important}
.mr30 {margin-right: 30px !important}
.mr-15 {margin-right: -15px !important;}

.p0 {padding: 0 !important}
.p5 {padding:5px !important}
.p10 {padding: 10px !important}
.p20 {padding: 20px !important}
.p10_22 {padding: 10px 22px !important}
.p12_30 {padding: 12px 30px !important}
.p12_25 {padding: 12px 25px !important}
.p18_22 {padding: 18px 22px !important}
.p4_25 {padding: 4px 25px !important;}
.p8_12 {padding: 8px 12px !important;}
.p2_4 {padding: 2px 4px !important;}


.pl0 {padding-left: 0 !important;}
.pl5 {padding-left:5px !important;}
.pl7 {padding-left:7px !important;}
.pl10 {padding-left:10px !important;}
.pl15 {padding-left:15px !important;}
.pl20 {padding-left:20px !important;}
.pl25 {padding-left:25px !important;}
.pl35 {padding-left: 35px !important;}
.pl30 {padding-left:30px !important;}
.pl32 {padding-left:32px !important;}
.pl40 {padding-left:40px !important;}
.pl62 {padding-left:62px !important;}

.pr0 {padding-right: 0 !important;}
.pr5 {padding-right: 5px !important;}
.pr7 {padding-right: 7px !important;}
.pr10 {padding-right:10px !important;}
.pr15 {padding-right:15px !important;}
.pr20 {padding-right:20px !important;}
.pr25 {padding-right:25px !important;}
.pr30 {padding-right:30px !important;}
.pr40 {padding-right:40px !important;}
.pr60 {padding-right:60px !important;}

.pt0 {padding-top: 0 !important}
.pt4 {padding-top: 4px !important}
.pt5 {padding-top: 5px !important}
.pt7 {padding-top: 7px !important}
.pt10 {padding-top: 10px !important}
.pt12 {padding-top: 12px !important}
.pt15 {padding-top: 15px !important}
.pt20 {padding-top: 20px !important}
.pt25 {padding-top: 25px !important}
.pt30 {padding-top: 30px !important}
.pt35 {padding-top: 35px !important}
.pt40 {padding-top: 40px !important}
.pt50 {padding-top: 50px !important}

.pb5 {padding-bottom: 5px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb60 {padding-bottom: 60px !important;}
.pb25 {padding-bottom: 25px !important;}


.cursor_default {cursor:default}
.cursor_pointer, .pointer {cursor:pointer !important}
.cursor_move {cursor:move !important}

.ta_left {text-align:left !important;}
.ta_center {text-align:center;}
.ta_right {text-align:right !important;}

.va_top {vertical-align: top}
.va_middle {vertical-align: middle}
.va_bottom {vertical-align: bottom}

.pr22 {padding-right: 22px !important;}
.b_rad5 {border-radius: 5px}

.mb8 {margin-bottom: 8px;}

.td_underline {text-decoration: underline}
.td_dotted {border-bottom: 1px dashed}
.td_underline:hover {text-decoration: none}
.none_td_hover:hover {text-decoration: none !important;}

.bg_white {background:white !important}
.bg_gray1 {background: #f9f9f9 !important}
.bg_gray2 {background: #e7e7e7 !important}
.bg_red {background: #c4151c !important}
.bg_lite_red {background:#d93220 !important}
.bg_orange {background: #f37021 !important}
.bg_green {background: #3d9c24 !important}
.bg_yellow {background: #fdb515 !important}

.bd_green {border-color: #00d5b5 !important;}

.ov_hidden {overflow: hidden}

.color_def {color: #000 !important;}
.color_gray1 {color: #b0b0b0 !important;}
.color_gray2 {color: #514d40 !important;}
.color_gray3 {color: #a1a1a1 !important;}
.color_white {color: #fff !important;}
.color_purple {color: #eb0081 !important}
.color_green {color: #00d5b5 !important}
.color_blue {
  color: #35a1e2 !important;
}
.color_cyan {
  color: #00d5b5 !important;
}

.td {text-decoration: underline}
a.td:hover {text-decoration: none}
.td_none {text-decoration: none}
.td_none:hover {text-decoration: none;}
.td_none_hover {text-decoration: none}
.td_none_hover:hover {text-decoration: underline}
.td_none:hover .dashed {border-color: transparent;}

.td_underline_hover {text-decoration: underline !important;border-bottom: 0 !important;}
.td_underline_hover:hover {text-decoration: none !important}
.hidden {display: none;}

.border0 {border: 0 !important}
.border-bottom0 {border-bottom:0 !important}
.b_bottom1 {border-bottom: 3px solid #e6e6e6;}
.b_top1 {border-top: 3px solid #e6e6e6;}
.border1 {border: 1px solid #abadb3 !important;}


.disabled {position: relative;}
.disabled:after {
  display: block;
  content: "";
  clear: both;
}
.clear:after {
  display: block;
  content: "";
  clear: both; 
}
.disabled .disabled_bg {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  opacity: 0.35;
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=35);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.bold {
  font-weight: bold;
}