/* Reset, variables, mixins */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
textarea,
button,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
div:after,
div:before {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
.transition {
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.font-first {
  font-family: 'Rubik', 'Arial', sans-serif;
}
html {
  -webkit-text-size-adjust:none;
}
/* Plugins */
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}
.modal__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2.2rem;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 56rem;
  left: 50%;
  top: 10rem;
  margin-left: -28rem;
  padding: 3rem 6.5rem 4rem;
  box-sizing: border-box;
  background: #fff;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-content .modal {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	overflow: visible;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #CCC;
}
.mfp-preloader a:hover {
  color: #FFF;
}
.mfp-s-ready .mfp-preloader {
  display: none;
}
.mfp-s-error .mfp-content {
  display: none;
}
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.mfp-close {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
/*
.mfp-close:active {
  top: 1px;
}
*/
.mfp-close-btn-in .mfp-close {
  color: #333;
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}
.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}
.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}
.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}
.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -40px;
}
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}
/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}
/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}
.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
.mfp-figure figure {
  margin: 0;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}
.mfp-image-holder .mfp-content {
  max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
        transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
        transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
        transform-origin: 100%;
  }
}
/* MagnificPopup */
.mfp-close {
  position: absolute;
  top: -1.6rem;
  right: -4.4rem;
  width: 1.6rem;
  height: 1.6rem;
  cursor: pointer;
  background: url(../img/close.svg) no-repeat;
  background-size: cover;
}
/*
.mfp-close:active {
  top: 1.8rem;
}
*/
/* Global styles */
/* rubik-regular - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v2-cyrillic_latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'), url('../fonts/rubik-v2-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/rubik-v2-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/rubik-v2-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/rubik-v2-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/rubik-v2-cyrillic_latin-regular.svg#Rubik') format('svg');
  /* Legacy iOS */
}
/* rubik-500 - cyrillic_latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v2-cyrillic_latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Rubik Medium'), local('Rubik-Medium'), url('../fonts/rubik-v2-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/rubik-v2-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/rubik-v2-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/rubik-v2-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/rubik-v2-cyrillic_latin-500.svg#Rubik') format('svg');
  /* Legacy iOS */
}
html {
  font-size: 10px;
  height: 100%;
}
body {
  height: 100%;
  background: #eedcad -webkit-gradient(linear, left bottom, left top, from(#eedcad), to(#f2b9f6)) no-repeat;
  background: #eedcad -webkit-linear-gradient(bottom, #eedcad 0%, #f2b9f6 100%) no-repeat;
  background: #eedcad linear-gradient(to top, #eedcad 0%, #f2b9f6 100%) no-repeat;
  position: relative;
}
body:before {
  content: '';
  display: block;
  position: absolute;
  background: url(../img/bg-spot.png) no-repeat top center;
  background-size: contain;
  width: 100%;
  height: 33.1rem;
  z-index: 0;
}
/* Blocks */
.wrapper {
  width: 114rem;
  margin: 0 auto;
  background: url(../img/feathers.png) no-repeat;
  background-size: 65.6rem 22.1rem;
  background-position: 16.7rem 7.8rem;
  position: relative;
}
.header {
  padding: 2.5rem 0 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header__logo {
  margin-top: 1.4rem;
}
.header__phones {
/*  margin-left: 10.4rem;*/
  margin-top: 1.2rem;
}
.header__authorization {
  margin-right: 8rem;
}
.header--full .header__authorization {
  margin-left: 27.5rem;
}
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  max-width: 19rem;
}
.logo__image {
  background: url(../img/logo-pink.svg) no-repeat;
  background-size: cover;
  width: 4.3rem;
  height: 4.6rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 1.5rem;
}
.logo__title {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  letter-spacing: .28rem;
  margin-left: -0.2rem;
}
.logo__dscr {
  margin-top: .3rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #000;
  line-height: 1.3rem;
}
.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.phones__content {
  padding-right: 2.1rem;
}
.phones__content-item {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 2.4rem;
  letter-spacing: .09rem;
  text-decoration: none;
  color: #000;
  display: block;
}
.phones__header-item {
  border-left: 1px solid #000;
  padding-left: 2.1rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
.authorization {
  max-width: 18rem;
}
.authorization__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.authorization__top-link {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #000;
}
.authorization__top-link:hover {
  text-decoration: none;
}
.modal-link:focus {
  outline: 0;
}
.authorization__input {
  border-radius: 1px;
  width: 100%;
  height: 2rem;
  padding-left: .5rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
}
.authorization__input:nth-child(n+2) {
  margin-top: 1rem;
}

.header__authorization form {
  margin-top: 1rem;
}

.authorization__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .8rem;
}
.authorization__lost {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.1rem;
  color: #000;
}
.authorization__lost:hover {
  text-decoration: none;
}
.button {
  background: #000;
  font-family: 'Rubik', 'Arial', sans-serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  height: 3.8rem;
  line-height: 3.8rem;
  padding: 0 1.7rem;
  color: #f1dba0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid transparent;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.button:hover {
  border: 1px solid #000;
  background: #fff;
  color: #000;
}
.button--small {
  color: #fff;
  padding: 0 1.2rem;
  height: 2rem;
  font-size: 1.2rem;
  line-height: 1.4rem;
}
.button--big {
  font-size: 1.6rem;
  line-height: 4.4rem;
  height: 4.6rem;
}
.menu {
  padding: 1.8rem 0;
}
.menu__item {
  color: #000;
  text-decoration: none;
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
}
.menu__item:hover {
  text-decoration: underline;
}
.menu__item:nth-child(n+2) {
  margin-left: 1.6rem;
}
.search {
  padding-top: .2rem;
}
.search__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}
.search__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.search__input {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding-left: .5rem;
  height: 2rem;
  width: 15rem;
  margin-right: .9rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  text-align: center;
}
.search__button {
  padding: 0;
  width: 6.1rem;
}
.alphabet__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.1rem;
  margin-bottom: .7rem;
}
.alphabet__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.alphabet__letter {
  width: 2.2rem;
  height: 2.2rem;
  border: 1px solid #ccc;
  border-left: 0;
  text-align: center;
  line-height: 2rem;
  text-decoration: none;
  color: #000;
  display: block;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.alphabet__letter:hover,
.alphabet__letter.active {
  background: #000;
  color: #fff;
}
.alphabet__letter:first-child {
  border-left: 1px solid #ccc;
}
.alphabet__list {
	color: #000;
	font-family: 'Rubik', 'Arial', sans-serif;
	font-size: 1.2rem;
	line-height: 2rem;
	text-align: left;
	width: 100%;
	padding: 1.4rem 2.2rem 1.8rem;
	position: absolute;
	left: 0;
	top: 2.3rem;
	z-index: 100;
	background: #fff;
	border-top: 0.4rem solid #000;
	box-shadow: 0 .3rem .6rem rgba(0, 0, 0, .15);
}
.alphabet__list.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
.alphabet__list.fade.in {
	opacity: 1;
}
.alphabet__list ul:after {
	content: '';
	display: table;
	clear: both;
}
.alphabet__list li {
	width: 33.3%;
	float: left;
}
.alphabet__list a {
	color: #000;
	text-decoration: none;
}
.alphabet__list a:hover {
	text-decoration: underline;
}
.alphabet__list hr {
	margin: 1.2rem 0 1.6rem;
	border: 0;
	border-top: 1px solid #a7a7a7;
}
.alphabet__link {
	font-weight: 500;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 1rem;
	clear: both;
}
.alphabet__link--sex {
	font-weight: 500;
	width: 33.3%;
	display: inline-block;
}
.alphabet__link--sex span {
	font-size: 1rem;
}
.front {
  background: #e8e8e8;
  padding: 3.2rem;
}
.front__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2rem;
}
.front__content {
  margin-top: 2rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab {
  border: 1px solid #666;
  border-radius: 2px;
  height: 3.8rem;
  line-height: 3.6rem;
  text-align: center;
  display: inline-block;
  padding: 0 1.7rem;
  font-weight: 500;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.tab:nth-child(n+2) {
  margin-left: 2.8rem;
}
.tab:hover {
  background: #000;
  color: #f1dba0;
}
.tab--active {
  background: #000;
  color: #f1dba0;
  position: relative;
}
.tab--active:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.1rem 1.05rem 0 1.05rem;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  margin-left: -1.05rem;
}
.item {
  display: inline-block;
  text-decoration: none;
  margin-left: 4.7rem;
  max-width: 23rem;
}
.item:nth-child(3n+1) {
  margin-left: 0;
}
.item:nth-child(n+4) {
  margin-top: 4.15rem;
}
.item:hover .item__picture {
  border-color: #d1d1d1;
}
.item__picture {
  width: 23rem;
  height: 23rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #fff;
  border: 2.2rem solid #f0f0f0;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.item__picture .hot-price {
	right: -.5rem;
	bottom: -.5rem;
}
.item__img {
  max-width: 100%;
}
.item__bottom {
  margin-top: 1.3rem;
  margin-left: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item__info {
  max-width: 14rem;
}
.item__brand {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  margin-bottom: .3rem;
  color: #000;
}
.item__name {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: .5rem;
  color: #000;
}
.item__price {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: .5rem;
  color: #000;
}
.cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-left: .3rem;
}
.cart-block__icon {
  background: url(../img/icon-cart.svg) no-repeat center;
  background-size: 1.8rem 2rem;
  width: 4.2rem;
  height: 3.8rem;
  border: 1px solid #333;
  border-radius: 2px;
}
.cart-block__content {
  margin-left: 1.6rem;
}
.cart-block__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #000;
}
.cart-block__text {
  font-family: 'Rubik', 'Arial', sans-serif;
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: #000;
}
.sidebar {
  width: 26rem;
  margin-top: -2.9rem;
}
.sidebar__cabinet-block {
  margin-top: 2.3rem;
}
.sidebar__recommendations {
  margin-top: 4rem;
}
.brands-list__item {
  font-size: 1.4rem;
  color: #000;
  display: block;
  line-height: 1.8rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  text-decoration: none;
}
.brands-list__item:hover {
  text-decoration: underline;
}
/*
.brands-list--tiny .brands-list__item:nth-child(n+6) {
  display: none;
}
*/
.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}
.page-buttons {
  position: fixed;
  right: 2%;
  top: 50%;
  margin-top: -9.2rem;
}
.page-buttons__go-top {
  margin-top: 3.4rem;
}
.callback-button {
  display: block;
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 50%;
  border: 1px solid #333;
  background: url(../img/icon-callback.svg) no-repeat center;
  background-size: 3rem 3rem;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.callback-button:hover {
  opacity: .6;
}
.go-top {
  display: block;
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 50%;
  border: 1px solid #333;
  background: url(../img/icon-arrow.svg) no-repeat center;
  background-size: 3rem 1.6rem;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.go-top:hover {
  opacity: .6;
}
.note {
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  padding: 1rem 0 .7rem 2.4rem;
  border-left: .4rem solid #000;
  margin: 3.2rem 0;
  line-height: 1.6rem;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10rem;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 4.5rem;
  width: 100%;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -0.5rem;
}
.delivery__text {
  color: #000;
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  line-height: 1.8rem;
  border-bottom: 1px solid #e4e4e4;
}
.delivery__form {
  border-bottom: 1px solid #e4e4e4;
}
.delivery__section-header {
  font-size: 1.8rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  margin-bottom: 3.3rem;
}
.delivery__form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.delivery__option-header {
  background: #f0f0f0;
  height: 3.8rem;
  line-height: 3.8rem;
  padding-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: 'Rubik', 'Arial', sans-serif;
}
.delivery__option-item {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
}
.delivery__option-item-title {
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 500;
  height: 4rem;
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid #e4e4e4;
}
.delivery__option-item-title:first-child {
  padding-left: 1.5rem;
  width: 70%;
}
.delivery__option-item-title:nth-child(2) {
  width: 15%;
}

.delivery__option-item-title:nth-child(3) {
  width: 15%;
}

.delivery__option-item-content {
  height: 5.4rem;
}

.delivery__option-item-text {
/*  font-size: 1.4rem;*/
  font-size: 1.38rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  vertical-align: middle;
}
.delivery__option-item-text:first-child {
  padding-left: 1.5rem;
  width: 70%;
}
.delivery__option-item-text:nth-child(2) {
  width: 15%;
}
.delivery__option-item-text:nth-child(3) {
  width: 15%;
}
.delivery__option-item-text #name_courier {
	display: inline-block;
}
.delivery__option-item-text #name_courier:not([data-content=""]) {
	/*
	cursor: help;
	*/
}
.delivery__option-item-text--metro {
  font-weight: 500;
}

.dostavka_item__checkbox {
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  vertical-align: middle;
  padding-left: 1.5rem;
}


.dostavka_tooltip {
	position: absolute;
	background: #92ce3b;
	color: white;
	text-align: center;
	padding: 1.5rem;
	display: none;
	width: 10rem;
	z-index: 1000000;
}

.dostavka_tooltip:after {
	display: block;
	content: '';
	position: absolute;
	left: 50%;
	top: 100%;
	margin-left: -.9rem;
	border-left: .9rem solid transparent;
	border-right: .9rem solid transparent;
	border-top: .9rem solid #92ce3b;


}

.dostavka_tooltip {
	
	text-align: justify;
}

.dostavka_tooltip:after {
	border-top: .9rem solid #92ce3b
}


.delivery__option-dscr {
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  padding-top: .5rem;
  padding-left: 1.5rem;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 2.2rem;
}
.delivery__option-dscr--noborder {
  border-bottom: 0;
  padding-bottom: 0;
}
.delivery__select {
  width: 23.6rem;
}
.delivery__metro--green {
  color: #9c6;
}
.delivery__metro--grey {
  color: #999;
}
.delivery__metro--orange {
  color: #f93;
}
.sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.6rem;
}
.sitemap__item {
  width: 25%;
}
.sitemap__item:nth-child(n+2) {
  padding-left: 1rem;
}
.sitemap__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.sitemap__links {
  margin-top: 2rem;
}
.sitemap__link {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-decoration: none;
  display: block;
  color: #000;
}
.sitemap__link:hover {
  text-decoration: underline;
}
.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.developer__content {
  font-size: 1rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  line-height: 1.4rem;
  text-align: right;
  color: #000;
}
.developer__icon {
  width: 3.5rem;
  height: 3.2rem;
  background: url(../img/developer-logo.png) no-repeat;
  background-size: cover;
  margin-left: 1.2rem;
}
.copyright {
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  max-width: 31.5rem;
  margin-left: 10.5rem;
  margin-top: -1rem;
}
.siteinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.siteinfo__logo {
  background: url(../img/logo-yellow.svg) no-repeat;
  background-size: cover;
  width: 4.3rem;
  height: 4.4rem;
  margin-right: 1.7rem;
}
.siteinfo__content {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
}

.bread_crumps {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #999;
  text-decoration: none;
  padding-left: 1.7rem; 
}
.breadcrumbs__item, .bread_crumps a {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
}
.breadcrumbs__item:hover {
  text-decoration: underline;
}
.breadcrumbs__item:after {
  content: '/';
  display: inline-block;
  margin: 0 .4rem;
}
.breadcrumbs__item--active {
  color: #999;
  pointer-events: none;
}
.breadcrumbs__item--active:after {
  display: none;
}
.cart__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
}
.cart__controls {
  margin: 3.5rem 0 4.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__order-link {
  color: #000;
  text-decoration: none;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  padding-bottom: .3rem;
  border-bottom: 1px dashed #000;
}
.cart__order-link:hover {
  border-color: transparent;
}
.cart__login {
  margin-top: 3.5rem;
}
.cart__login-header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 3.5rem;
}
.cart__login-content {
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__login-new {
  padding: 5.2rem;
}
.cart__login-subheader {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.cart__login-form {
  background: #fff;
  padding: 4.7rem 5.5rem;
  margin-top: 2rem;
}
.cart__login-old {
  margin-left: 13.2rem;
  max-width: 31.6rem;
}
.cart__login-text {
  font-size: 1.6rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  margin: 3.4rem 0 5rem;
}
.cart__login-input-item {
  margin-bottom: 2.5rem;
  width: 23.6rem;
}
.cart__login-button {
  height: 4.6rem;
  line-height: 4.6rem;
}
.cart__login-button-new {
  width: 100%;
}
.cart__login-input {
  width: 23.6rem;
}
.order-table {
	margin-bottom: 5.4rem;
}
.cart-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #f0f0f0;
}
.cart-table__content {
  width: 100%;
}
.cart-table__meta {
	margin: 1rem 0 1.6rem;
}
.cart-table__meta-date {
	float: left;
}
.cart-table__meta-code {
	font-weight: 500;
	float: right;
}
.cart-table__header {
  background: #f0f0f0;
}
.cart-table__header-item {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Rubik', 'Arial', sans-serif;
  height: 3.8rem;
  vertical-align: middle;
  text-align: left;
}
.cart-table__header-item:first-child {
  padding-left: 1.7rem;
}
.cart-table__item {
  border-bottom: 1px solid #f0f0f0;
}
.cart-table__item-picture {
  padding: 2.4rem 0 2.4rem 1.6rem;
  width: 10.9rem;
}
.cart-table__img {
  width: 6.4rem;
}
.cart-table__item-header {
  padding-right: 2.9rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  vertical-align: middle;
  width: 61.8rem;
}
.cart-table__item-price {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  vertical-align: middle;
  width: 11rem;
}
.cart-table__item-price--wide {
	width: 12rem;
}
.cart-table__item-amount {
  vertical-align: middle;
}
.cart-table__item-amount--wide {
	width: 14rem;
}
.cart-table__amount-content {
  width: 5.3rem;
  height: 2.9rem;
  border: 1px solid #999;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart-table__amount-number {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding-left: .9rem;
}
.cart-table__amount-controls {
  padding-right: 1rem;
}
.cart-table__amount-controls-item {
  width: .8rem;
  height: .4rem;
  background: url(../img/triangle-small.svg) no-repeat;
  background-size: cover;
  display: block;
}
.cart-table__amount-controls-item--less {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: .6rem;
}
.cart-table__item-remove {
  vertical-align: middle;
}
.cart-table__item-remove-content {
  width: 1.1rem;
  height: 1.1rem;
  background: url(../img/close.svg) no-repeat;
  background-size: cover;
  vertical-align: middle;
  display: block;
}
.cart-table__overall {
  padding: 2.7rem 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.cart-table__overall-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.cart-table__overall-header {
  width: 21.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.cart-table__overall-header-content {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.cart-table__overall-content {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: right;
}
.cart-table__advice {
  background: url(../img/icon-advice.svg) no-repeat;
  background-size: cover;
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 1rem;
}
.cart-table__final-price {
  font-weight: 500;
}
.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sorting__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
}
.sorting__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 2.5rem;
}
.sorting__button {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  padding-bottom: .3rem;
}
.sorting__button:hover {
  text-decoration: underline;
}
.sorting__button:nth-child(n+2) {
  margin-left: 2rem;
}
.sorting__button--active {
  font-weight: 500;
  border-bottom: 2px solid #000;
}
.recommendations {
  background: #f0f0f0;
  padding: 2.7rem;
  margin-top: 3.7rem;
}
.recommendations__header {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Rubik', 'Arial', sans-serif;
  text-align: center;
}
.recommendations__list {
  margin-top: 3.2rem;
}
.recommendations__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.recommendations__item:nth-child(n+2) {
  margin-top: 2.5rem;
}
.recommendations__item:hover .recommendations__item-picture {
  background: #f7f7f7;
}
.recommendations__item-picture {
  width: 8.4rem;
  height: 8.4rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.recommendations__item-img {
  width: 100%;
}
.recommendations__item-brand {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000;
}
.recommendations__item-name {
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Rubik', 'Arial', sans-serif;
  color: #000;
  line-height: 1.8rem;
  max-width: 10.2rem;
}
.delivery-method {
  background: #f0f0f0;
}
.delivery-method__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
}
.delivery-method__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4.5rem;
}
.delivery-method__item {
  width: 25%;
}
.delivery-method__item-header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.delivery-method__item-price {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  margin-top: .5rem;
}
.delivery-method__item-link {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  color: #000;
  display: block;
  margin-top: 2rem;
}
.delivery-method__item-link:hover {
  text-decoration: none;
}
.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__picture {
  margin-right: 3rem;
  width: 23rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.product__picture-img {
  width: 23rem;
  height: auto;
}
.product__guarantee {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  color: #f33;
  margin: 1.5rem 0 1.2rem;
  text-align: center;
}
.product__guarantee-comment {
  font-size: 1.2rem;
  display: block;
}
.product__code {
  font-size: 1.2rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  text-align: center;
  font-weight: 500;
}
.product__code-number {
  font-size: 1.4rem;
}
.product__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__top-left {
	-webkit-box-flex: 10;
	-ms-flex: 10 0 auto;
	flex: 10 0 auto;
}
.product__brand {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
}
.product__title {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}
.product__cart,
.product__fav {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product__cart:before {
  content: '';
  display: block;
  background: url(../img/icon-cart-small.svg) no-repeat;
  background-size: cover;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 1.1rem;
}
.product__fav:before {
  content: '';
  display: block;
  background: url(../img/icon-heart.svg) no-repeat;
  background-size: cover;
  width: 1.1rem;
  height: 1rem;
  margin-right: .9rem;
}
.product__fav.active:before {
	background: url(../img/icon-heart-full.svg) no-repeat;
}
.product__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.8rem;
}
.product__category {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
.product__rating {
  margin-top: .5rem;
}
.product__notes {
  max-width: 39rem;
  margin-left: 3.8rem;
/*
  display: -webkit-box !important;
  display: box !important;
*/
}
.product__dscr {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 3rem;
  max-width: 100%;
}
.product__options {
  margin-top: 5.8rem;
}
.product__catalog-header {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Rubik', 'Arial', sans-serif;
  margin-bottom: 4rem;
}
.notes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.notes:before {
  content: '';
  display: block;
  margin-right: 1.5rem;
  background: url(../img/icon-note.svg) no-repeat;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.stars__item {
  width: 1rem;
  height: 1rem;
}
.stars__item:nth-child(n+2) {
  margin-left: .4rem;
}
.stars__item--full {
  background: url(../img/star-full.svg) no-repeat;
  background-size: cover;
}
.stars__item--half {
  background: url(../img/star-half.svg) no-repeat;
  background-size: cover;
}
.stars__item--empty {
  background: url(../img/star-empty.svg) no-repeat;
  background-size: cover;
}
.product-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e5e5e5;
  padding: 1.3rem 1rem;
}
.product-option:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.product-option__name-content {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  width: 27rem;
}
.product-option__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-option__info {
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/icon-info.svg) no-repeat;
  background-size: cover;
  margin-left: 1rem;
}
.product-option__price {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-right: 7rem;
}
.product-option__price--old {
	color: #bcbcbc;
	text-decoration: line-through;
}
.product-option__price--space {
	display: inline-block;
	margin: 0 .6rem;
}
.delivery-block {
  margin-bottom: 5rem;
  margin-top: 3.4rem;
}
.delivery-block__header {
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 500;
}
.delivery-block__content {
  margin-top: 1rem;
  font-size: 1rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  line-height: 1.2rem;
}
.discounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #000;
  padding: 6rem 6rem 7rem 9.3rem;
  position: relative;
}
.discounts:before {
  content: '';
  display: block;
  width: 2.7rem;
  height: 13.5rem;
  border: 1rem solid #f1dba0;
  border-left: 0;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6.75rem;
}
.discounts__header {
  max-width: 30.5rem;
}
.discounts__title {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 3.8rem;
  color: #eedcad;
}
.discounts__title-comment {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2.8rem;
  color: #eedcad;
}
.discounts__dscr {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 2.2rem;
  color: #eedcad;
}
.discounts__content-header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  color: #eedcad;
  margin-bottom: 3.5rem;
}
.discounts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.discounts__item:nth-child(n+2) {
  margin-top: 1.6rem;
}
.discounts__item-percent {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #eedcad;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 6.7rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.discounts__item-percent:after {
  content: '/';
  display: block;
  font-weight: 400;
  font-size: 2rem;
}
.discounts__item-price {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #eedcad;
  margin-left: 1.6rem;
}
.cabinet__header-item {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
}
.cabinet__stats {
  margin-top: 2.5rem;
}
.cabinet__stats-item {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
}
.cabinet__stats-item-content {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.cabinet__privilege {
  margin-top: 2rem;
}
.cabinet__privilege-header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
}
.cabinet__privilege-content {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  margin-top: .2rem;
  line-height: 1.7rem;
}
.cabinet__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cabinet__menu-item {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  width: 20%;
  text-decoration: none;
  color: #000;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.cabinet__menu-item:hover {
  text-decoration: underline;
}
.unique-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.unique-item:nth-child(n+2) {
  margin-top: 4.2rem;
}
.unique-item__picture {
  border: 2.2rem solid #f0f0f0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 23rem;
  height: 23rem;
}
.unique-item__img {
  width: auto!important;
  height: auto!important;
  max-width: 100%;
  max-height: 100%;
}
.unique-item__content {
  padding-top: .5rem;
}
.unique-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.unique-item__brand {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.6rem;
}
.unique-item__name {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: .3rem;
}
.unique-item__collection {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.unique-item__notes {
  margin: 3.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
/*
  display: -webkit-box !important;
  display: box !important;
*/
}
.unique-item__dscr {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  margin-top: 3.3rem;
}
.unique-item__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.4rem;
}
.unique-item__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 1.9rem;
  text-decoration: none;
  color: #000;
}
.unique-item__like:before {
  content: '';
  display: block;
  margin-right: 1rem;
  background: url(../img/icon-heart.svg) no-repeat;
  background-size: cover;
  width: 1.3rem;
  height: 1.2rem;
}
.unique-item__like.active:before {
	background: url(../img/icon-heart-full.svg) no-repeat;
}
.unique-item__cart {
  color: #000;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-flex: 1;
					-ms-flex: 1 1 auto;
							flex: 1 1 auto;
	-webkit-box-pack: end;
		 -ms-flex-pack: end;
	 justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}
.unique-item__cart:before {
  content: '';
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background: url(../img/icon-cart-small.svg) no-repeat;
  background-size: cover;
  margin-right: .8rem;
}
.unique-item__remove {
  color: #000;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
	-webkit-box-flex: 1;
					-ms-flex: 1 1 auto;
							flex: 1 1 auto;
	-webkit-box-pack: end;
		 -ms-flex-pack: end;
	 justify-content: flex-end;
  text-decoration: none;
}
.unique-item__remove:before {
  content: '';
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  background: url(../img/close.svg) no-repeat;
  background-size: cover;
  margin-right: .7rem;
	margin-top: -.1rem;
}
.sales__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2rem;
  line-height: 2.3rem;
}
.cabinet-block {
  border: 1px solid #666;
  padding: 2rem 2rem 1.5rem;
  border-radius: 2px;
}
.cabinet-block__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}
.cabinet-block__links {
  padding-left: 1.3rem;
  margin-top: 1.7rem;
}
.cabinet-block__link {
  font-size: 1.2rem;
  color: #000;
  font-family: 'Rubik', 'Arial', sans-serif;
  line-height: 2.2rem;
  text-decoration: none;
  display: block;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}
.cabinet-block__link--active,
.cabinet-block__link:hover {
  color: #fff;
}
.cabinet-block__controls {
  margin-top: 2rem;
  padding-left: 1.3rem;
}
.input {
	color: #000;
  height: 3.8rem;
  padding-left: 1.6rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 1.4rem;
	line-height: 1.4rem;
}
.select {
  background: url(../img/triangle-middle.svg) no-repeat right 1.5rem center;
  background-size: 1.2rem .6rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.select::-ms-expand {
  display: none;
}
.settings__form {
  margin-top: 4.5rem;
}
.settings__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.8rem;
}
.settings__form-item:nth-child(n+2) {
  margin-top: 2rem;
}
.settings__form-header {
  width: 15rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.settings__form-content {
  width: 29.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.settings__form-text {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
}
.settings__input {
  width: 100%;
}
.settings__select {
  width: 8.5rem;
  background-position: right .9rem center;
}
.settings__button {
  margin-top: 2rem;
  width: 29.4rem;
  margin-left: 15rem;
}
.modal {
	font-family: 'Rubik', 'Arial', sans-serif;
	font-size: 1.4rem;
	line-height: 2rem;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.modal.fade {
	opacity: 0;
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear;
}
.modal.fade.in {
	opacity: 1;
}
.modal-dialog {
	width: 60rem;
	margin: 3rem auto;
}
.modal-content {
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	box-shadow: 0 .3rem .9rem rgba(0, 0, 0, .5);
}
.modal-header {
	padding: 1.5rem;
	border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
	float: right;
	font-size: 2.1rem;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	filter: alpha(opacity=20);
	opacity: .2;
	margin-top: -2px;
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}
.modal-header .close:hover,
.modal-header .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.modal-body {
	position: relative;
	padding: 1.5rem;
}
.modal-footer {
	padding: 1.5rem;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}
.modal-footer .btn-default {
	color: #333;
	display: inline-block;
	padding: .6rem 1.2rem;
	margin-bottom: 0;
	font-size: 1.4rem;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.modal-footer .btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5;
}
.modal__input {
  width: 100%;
}
.modal__button {
  margin-top: 2.3rem;
  width: 100%;
}
.modal__input-item:nth-child(n+2) {
  margin-top: 2.1rem;
}
.registration__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.registration__row:nth-child(n+2) {
  margin-top: 4.5rem;
}
.registration__password-options {
  margin: 4.5rem 0;
}
.input.error {
  border-color: #dc3575;
}
.input.error + .error {
	color: #dc3575;
	font-size: 1.2rem;
	font-family: 'Rubik', 'Arial', sans-serif;
	display: block;
	margin-top: .5rem;
}
.registration__input {
/*  width: 23.8rem;*/
  width: 22rem;
}
.registration__input--short {
  width: 7.3rem;
}
.registration__street {
  width: 100%;
}
.registration__intercom {
  width: 27.6rem;
}
.registration__password {
  width: 37.1rem;
}
.registration__button {
  margin-top: 4rem;
  width: 23.7rem;
}
.roundbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.roundbutton:nth-child(n+2) {
  margin-top: 1.3rem;
}
.roundbutton__hidden {
  display: none;
}
.roundbutton__hidden:checked + .roundbutton__fake:after {
  content: '';
  display: block;
  width: .6rem;
  height: .6rem;
  background: #000;
  border-radius: 50%;
}
.roundbutton__fake {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  border: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex!important;
  margin-bottom: 0!important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.roundbutton__label {
  margin-left: 1.4rem;
  margin-bottom: 0!important;
  font-weight: 400!important;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
}
.specials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33.8rem;
  padding-right: 7.5rem;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.specials__item:nth-child(n+2) {
  border-top: 1px solid #e4e4e4;
}
.specials__item-picture {
  width: 35.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.specials__item-img {
  max-width: 100%;
  max-height: 100%;
}
.specials__item-header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.specials__item-dscr {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin-top: 1.5rem;
}
.specials__item-text {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
	line-height: 1.8rem;
}
.specials__button {
  margin-top: 3rem;
}
.section {
  background: #fff;
  width: 84.7rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.6rem 2.1rem 1.6rem 1.7rem;
}
.section__tabs {
  margin-bottom: 4.8rem;
}
.section__header {
  background: #e8e8e8;
  padding: 2.8rem 3.4rem 3rem;
}
.section__title {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2rem;
  margin-top: 2.3rem;
}
.section--full {
  width: 100%;
}
.section__tab {
  min-width: 15rem;
}
.side-catalog {
  margin-top: 2.6rem;
}
.side-catalog__header {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.side-catalog__link {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  text-decoration: underline;
  color: #000;
  margin-bottom: 2.2rem;
  display: block;
}
.side-catalog__link:hover {
  text-decoration: none;
}
.side-catalog__subheader {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.side-catalog__section:nth-child(n+2) {
  margin-top: 3rem;
}
.catalog-controls {
  margin-top: 2.3rem;
}
.catalog-controls__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  font-family: 'Rubik', 'Arial', sans-serif;
}
.catalog-controls__header-brand {
  font-weight: 500;
  margin: 0 .5rem;
}
.catalog-controls__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.6rem;
  margin-bottom: 2.3rem;
  margin-left: -0.5rem;
}
.catalog-controls__category-item {
  height: 2.2rem;
  line-height: 2.2rem;
  padding: 0 .5rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  color: #000;
  font-size: 1.6rem;
  text-decoration: none;
}
.catalog-controls__category-item:hover {
  text-decoration: underline;
}
.catalog-controls__category-item:nth-child(n+2) {
  margin-left: 2rem;
}
.catalog-controls__category-item--active {
  background: #000;
  color: #f1dba0;
  font-weight: 500;
}
.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.checkbox:nth-child(n+2) {
  margin-top: 1.3rem;
}
.checkbox__hidden {
  display: none;
}
.checkbox__hidden:checked + .checkbox__fake:after {
  content: '';
  display: block;
  width: .6rem;
  height: .6rem;
  background: #000;
}
.checkbox__fake {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 2px;
  border: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex!important;
  margin-bottom: 0!important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.checkbox__label {
  margin-left: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 0!important;
  font-weight: 400!important;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.input-item__header {
  font-size: 1.4rem;
  font-weight: 500;
	height: 2rem;
  margin-bottom: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.input-item__header--required:after {
  content: '*';
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #f66;
  margin-left: .3rem;
}
.section-wrapper {
	font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
	line-height: 1.8rem;
  padding: 4rem 3rem 2.3rem;
}
.section-wrapper--light {
  padding: 3.6rem 3.7rem 3.65rem;
}
.section-wrapper p {
	margin-bottom: 1.4rem;
}
.section-wrapper label {
	font-weight: 500;
	margin-bottom: 1.2rem;
	display: inline-block;
}
.section-wrapper input {
	vertical-align: middle;
	line-height: 3.8rem;
  height: 3.8rem;
}
.section-wrapper input.inp {
	padding-right: 1rem;
	padding-left: 1rem;
	border: 1px solid #999;
	border-radius: 2px;
}

.login__lost {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem;
	line-height: 1.4rem;
  border-bottom: 1px dashed #000;
  color: #000;
  display: inline-block;
  text-decoration: none;
  margin-top: 1.3rem;
}
.restore {
  width: 43rem;
}
.restore__tabs {
  margin: 5rem 0 3.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.restore__tab {
  min-width: 12.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 1.6rem;
}
.restore__tab:nth-child(n+2) {
  margin-left: 0;
}
.history__tab {
	margin: 4.6rem 0 3.6rem;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.authorization__header_block {
/*
	width: auto;
	float: right;
	margin-left: auto;
*/
}
.ya-share2__container_size_m .ya-share2__icon {
	height: 2rem !important;
	width: 2rem !important;
	background-size: 2rem 2rem !important;
}
.ya-share2__container_size_m {
	/*
	font-size: 2rem !important;
	*/
}

.ya-share2__container_size_m .ya-share2__item {
    margin: 0.5rem 0.6rem 0.5rem 0 !important;
}
.ya-share2__badge {
	border-radius: 0.2rem !important;
}

.brands-list_scroll {
	margin-bottom:3.0rem;
	max-height:35.0rem !important;
}

.section__footer {
  background: #e8e8e8;
  padding: 2.8rem 3.4rem 3rem;
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  margin: 3.2rem 0 0;
  
  line-height: 1.6rem;
}

.link_product_prices,
.link_product_fav {
	color: #000;
	text-decoration: none;
}

.specials__item-content {
  max-width: 60%;
}

.product__info {
  width: 100%;
  /*max-width: 67%;*/
}

.text_notes {
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  line-height: 1.6rem;
}

.top_menu_personal {
  font-size: 1.2rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  line-height: 1.6rem;
}
.top_menu_personal a {
    color: #000;
}
.top_menu_personal a:hover {
    color: #000;
	text-decoration: none;
}

.more_top {
	margin-left: 6rem;
}

.text_content {
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
  padding: 3.6rem 3.7rem 3.65rem;
  position: relative;
  -webkit-text-size-adjust: none;
}

.text_content p > ymaps {
  width: 100%!important;
  height: 45rem!important;
}

.text_content span {
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.text_content p {
  line-height: 1.5;
}

.text_content p:nth-child(n+2) {
  margin-top: 1.5rem;
}
.text_content img,
.text_content p > ymaps {
	max-width: 100%;
	height: auto;
}

.cart__step2 .l-col {
	width: 70%;
	float: left;
}

.cart__step2 .r-col {
	width: 28%;
	float: right;
}

.delivery__options-container {
	padding: 4rem 0 0;	
}

.delivery__option-add {
	margin: 2.2rem 1.5rem;
}

.delivery__option-add .input-item {
	margin-bottom: 2.2rem;
}

.delivery__option-add  .full__input {
	width: 100%;
}

.dostavka_item {
	margin-bottom: 2.6rem;
}

.dostavka_item.active {
	background: #f5f5f5;
}

.courier__table-body:hover {
/*	cursor: pointer;*/
/*	background: #f5f5f5;*/
}

.star {
	color: #f66;
}

.button--pink {
	color: #f0008e;
	background: transparent;
	border-color: #f0008e;
}

.cart__step2 .cabinet-block {
	font-size: 1.4rem;
	font-family: 'Rubik', 'Arial', sans-serif;
	position: relative;
	top: -16rem;
}

.cart__step2 .cabinet-block p {
	margin-bottom: 1.4rem;
}

.cart__step2 .cabinet-block table {
	margin-bottom: 1.5rem;
}

.cart__step2 .cabinet-block table tr {
	display: block;
	padding: .9rem 0 1.2rem;
	border-bottom: 1px solid #c9c7c8;
	overflow: hidden;
}

.cart__step2 .cabinet-block table td {
	display: block;
	float: left;
	width: 33%;
	padding: 0 !important;
}

.cart__step2 .cabinet-block table td.first_td {
	padding: 0 0 1rem !important;
	width: 100%;
	float: none !important;
	clear: both;
	display: block !important;
}

.cart__step2 .cabinet-block table td .color_gray1 {
	padding-bottom: .4rem;
	color: #969696;
}

.cart__step2 .cabinet-block textarea {
	font-family: Tahoma;
	border: 1px solid #c9c7c8;
}

.cart__step2 .cabinet-block .row {
	margin-bottom: .5rem;
	margin-left: 0;
	margin-right: 0;
}

.cart__step2 .cabinet-block .row:after {
	display: block;
	content: " ";
	clear: both;
}

.cart__step2 .cabinet-block .col-8 {
	width: 14rem;
	float: left;
	position: relative;
}

.cart__step2 .cabinet-block .col-4 {
	margin-left: 14rem;
	text-align: right;
}

.cart__step2 .korz_kol-vo {
	position: relative;
	border: 1px solid #e2e3ea;
	padding: 0 2rem .1rem .3rem;
	float: left;
}

.thanks {
	font-size: 1.6rem;
	font-family: 'Rubik', 'Arial', sans-serif;
}

.catalog__box {
	font-family: 'Rubik', 'Arial', sans-serif;
	margin-bottom: 2.8rem;
	padding-top: 3.6rem;
	padding-right: 3rem;
	padding-left: 3rem;
}

.catalog__box  + .catalog__box {
	border-top: 1px solid #e4e4e4;
}

.catalog__box:after {
	content: '';
	display: block;
	clear: both;
}

.catalog__litera {
	font-size: 4.4rem;
	font-weight: 500;
	width: 20%;
	float: left;
}

.catalog__brands {
	font-size: 1.2rem;
	width: 80%;
	float: right;
}

.catalog__brands li {
	line-height: 2.2rem;
	width: 33.3%;
	float: left;
}

.catalog__brands a {
	color: #000;
	font-size: 1.4rem;
	text-decoration: none;
}

.catalog__brands a:hover {
	text-decoration: underline;
}

.hot-price {
	width: 5rem;
	height: 5rem;
	display: block;
	margin-top: -1rem;
	margin-left: -5rem;
	position: absolute;
	background: url(../img/hot-price.svg) no-repeat;
}

.news__header {
	font-size: 2rem;
	font-family: 'Rubik', 'Arial', sans-serif;
}

.news h2,
.news h3,
.news h4 {
	font-size: 1.8rem;
	font-family: 'Rubik', 'Arial', sans-serif;
	margin: 2rem 0 0;
}
.news p {
	font-size: 1.4rem;
	font-family: 'Rubik', 'Arial', sans-serif;
	line-height: 1.8rem;
	max-width: 100%;
	margin-bottom: 1rem;
}
.news a {
	color: #000;
}
.news img,
.news p > ymaps {
	max-width: 100%;
	height: auto;
}

.b-share_theme_counter .b-share {
	margin-top: 1rem;
	padding: 1.8rem 0 1.4rem !important;
}

.login-form {
	width: 24rem;
	min-height: 32rem;
	margin: 0 auto;
}
.login-form label {
	display: block;
}
.login-form input {
	width: 100%;
	margin-bottom: 1rem;
}
.login-form input.inp {
	margin-bottom: 1.6rem;
}
.login-form .button {
	margin-bottom: 1.2rem;
}
.login-form__link {
	color: #000;
	font-size: 1.2rem;
	float: right;
}
.login-form__link--forgot {
	color: #000;
	font-size: 1.2rem;
	line-height: 1.4rem;
	text-decoration: none;
	float: left;
	border-bottom: 1px dashed #000;
}

.cabinet {
	padding-top: 0;
}

.cabinet-block a{
	text-decoration: none;
}

.notes a{
	color: #000000;
}


.dostavka_item__checkbox::after {
  display: block;
  position: relative;
  content: '';
  width: 2.4rem;
  height: 2.4rem;
  left: 0;
  top: 0.5rem;
	float: left;
	margin: 1rem 1rem;
  border: 1px solid #999;
  background: #fff;
}

.dostavka_item__checkbox {
    cursor: pointer;
    line-height: 5.8rem;
}

.dostavka_item__checkbox.checked::after {
  background:#fff  url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjMycHgiIGhlaWdodD0iMzJweCI+CiAgPHBhdGggZD0ibS4zLDE0Yy0wLjItMC4yLTAuMy0wLjUtMC4zLTAuN3MwLjEtMC41IDAuMy0wLjdsMS40LTEuNGMwLjQtMC40IDEtMC40IDEuNCwwbC4xLC4xIDUuNSw1LjljMC4yLDAuMiAwLjUsMC4yIDAuNywwbDEzLjQtMTMuOWgwLjF2LTguODgxNzhlLTE2YzAuNC0wLjQgMS0wLjQgMS40LDBsMS40LDEuNGMwLjQsMC40IDAuNCwxIDAsMS40bDAsMC0xNiwxNi42Yy0wLjIsMC4yLTAuNCwwLjMtMC43LDAuMy0wLjMsMC0wLjUtMC4xLTAuNy0wLjNsLTcuOC04LjQtLjItLjN6IiBmaWxsPSIjOTMzRUM1Ii8+Cjwvc3ZnPgo=) no-repeat center;
  background-size: 80%;
}

#self .dostavka_item__checkbox::after {
	top:-5.2rem;
}

#self .dostavka_item__bottom {
	margin-left: 6.0rem;
}

#self .courier__table-body .courier__row-desc p{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}


/*Fixes 28.01.17*/
.ya-share2__container_size_m .ya-share2__counter {
  line-height: 2rem!important;
}

.news em {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-style: italic;
}

.text_content div[style="font-family: arial; font-size: small;"] {
  font-size: 1.3rem!important;
}

.delivery .delivery__text {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.delivery .delivery__form {
  padding-left: 0;
  padding-right: 0;
}

.dostavka_item__checkbox .dostavka_item__metro_bottom {
	margin-left: 6.0rem;
}

.autocomplete-suggestion {
  padding: 1rem .5rem!important;
  font-size: 1.4rem;
  font-family: 'Rubik', 'Arial', sans-serif;
}

.autocomplete-info {
  font-size: 1.1rem!important;
}

.notes a:hover {
  text-decoration: none;
}

.specials__item-text span[style="font-family: georgia;"] {
  font-family: 'Rubik', 'Arial', sans-serif!important;
  font-size: 1.4rem!important;
}

.news span[style="font-family: georgia; font-size: xx-large;"] {
  font-size: 1.8rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.news span[style="font-family: georgia; font-size: x-large;"] {
  font-size: 2.4rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.news span[style="font-size: x-large;"] {
  font-size: 2.4rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.news span[style="font-size: large; text-align: center;"] {
  font-size: 1.8rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.news span[style="font-size: large;"] {
  font-size: 1.8rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.news img[style="margin-right:15px;"] {
  max-width: 30rem;
  max-height: 30rem;
  width: auto;
  margin-right: 1.5rem!important;
}

.news span[style="font-family: georgia; font-size: large;"] {
  font-size: 1.8rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.news span[style="font-size: medium;"] {
  font-size: 1.6rem!important;
}

.news span[style="font-family: georgia;"] {
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.news span[style="font-size: 10.3999996185303px;"] {
  font-size: 1.4rem!important;
}

.news span[style="font-size: 10px;"] {
  font-size: 1.4rem!important;
}

.news span[style="font-family: georgia; font-size: medium;"] {
  font-size: 1.8rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

@media screen and (max-width: 1140px) {
  
  .page-buttons {
    top: auto;
    bottom: 2.5%;
  }
}

.scroll-wrapper > .scroll-content {
  overflow: auto!important;
}

.inf[style="font-size:12px;font-family: 'Rubik', 'Arial', sans-serif;margin-left:28px;padding: 20px 0 30px;"] {
  font-size: 1.2rem!important;
  margin-left: 2.8rem!important;
  padding: 2rem 0 3rem!important;
}

.ya-share2__container_size_m {
  font-size: 1.3rem!important;
}

.ya-share2__container_size_m .ya-share2__counter {
  font-size: 1.2rem!important;
  padding: 0 .8rem!important;
}

.line.settlement {
  margin-top: 1rem;
}

.line.settlement input {
  border: 1px solid #999;
  border-radius: 2px;
  padding-left: 1rem;
}

.line textarea {
  max-width: 100%!important;
  height: 8rem!important;
}

.main_text {
  font-size: 1.4rem!important;
  padding-left: 1.7rem!important;
  padding-right: 2rem!important;
  line-height: 1.6rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.nakop_id {
  right: 2rem!important;
  height: 17rem!important;
  width: 43rem!important;
  padding: 1rem 2rem!important;
  line-height: 2rem!important;
  font-size: 1.2rem!important;
  top: auto!important;
  bottom: 2rem!important;
}

.nakop_id span[style="font-size:18px;display:block;padding-bottom:2px"] {
  font-size: 1.8rem!important;
  padding-bottom: .2rem!important;
}

span[style="font-size:14px"] {
  font-size: 1.4rem!important;
}

.price span[style="float:right;padding-right:10px;font-size:11px;_margin-top:-18px"] {
  padding-right: 1rem!important;
  font-size: 1.1rem!important;
  margin-top: 0!important;
}

.dop_info .input-item .input[type="text"] {
  width: 7.2rem!important;
}

.dop_info .input-item .input[name="regs_postcode"] {
  width: 23.6rem!important;
}

.catalog_h1 {
  margin-left: 1.7rem;
  font-size: 2rem;
  font-family: 'Rubik', 'Arial', sans-serif!important;
  margin-bottom: 2rem;
}


.comment_user_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.7rem;
}
.comment_user_wrap:nth-child(n+2) {
  margin-top: 4.2rem;
}
.comment_user_wrap .img_wr {
  border: 2.2rem solid #f0f0f0;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 23rem;
  height: 23rem;
}
.comment_user_wrap .img_wr img {
  width: auto!important;
  height: auto!important;
  max-width: 100%;
  max-height: 100%;
}
.comment_user_wrap .desc_wr {
  padding-top: .5rem;
}
.comment_user_wrap .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}
.comment_user_wrap .title .purple {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  margin-left: .3rem;
  color: #000;
  font-weight: 500;
  text-decoration: none;
}
.comment_user_wrap .desc_wr div[style="font-size:12px"] {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.2rem!important;
  margin-top: 1rem;
}
.comment_user_wrap .notes {
  margin: 3.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.comment_user_wrap .notes a {
  margin-bottom: .5rem;
  display: block;
}
.comment_user_wrap .notes a+a {
  margin-left: .5rem;
}
.comment_user_wrap .text p {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  margin-top: 3.3rem;
}
.comment_user_wrap .undercomment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.4rem!important;
}
.comment_user_wrap .izbr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-right: 1.9rem;
  text-decoration: none;
  color: #000;
}
.comment_user_wrap .izbr:before {
  content: '';
  display: block;
  margin-right: 1rem;
  background: url(../img/icon-heart.svg) no-repeat;
  background-size: cover;
  width: 1.3rem;
  height: 1.2rem;
}
.comment_user_wrap .izbr.active:before {
	background: url(../img/icon-heart-full.svg) no-repeat;
}
.comment_user_wrap .more {
  background: #000;
  font-family: 'Rubik', 'Arial', sans-serif;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  height: 3.8rem;
  line-height: 3.8rem;
  padding: 0 1.7rem;
  color: #f1dba0;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  border-radius: 2px;
  border: 1px solid transparent;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.inf[style="margin-right:35px;padding-bottom: 20px;"] {
  margin-right: 3.5rem!important;
  padding: 2rem 1.7rem!important;
  font-size: 1.4rem!important;
  font-family: 'Rubik', 'Arial', sans-serif!important;
}

.page_top {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
}

.page_top a, .page_top + table a {
  color: #000;
  font-weight: 500;
}

.page_top + table {
  font-family: 'Rubik', 'Arial', sans-serif;
  font-size: 1.4rem;
}

.notes a {
  display: inline-block;
}

.catalog_list {
  display: inline-block;
  width: 100%;
}

.catalog_list + .catalog_list {
  border-top: 1px solid #e4e4e4
}

.dop_info .delivery__form-content .input-item .input[name="street"] {
	width: 50rem !important;
}


.section-wrapper form input[name="forgot_email"] {
	width: 23.5rem;
}
.section-wrapper form input[name="send_passw"] {
	width: 23.5rem;
	margin-left: 1.5rem;
}

.korz_equally {
	float: right;
	padding-right: 1rem;
	font-size: 1.1rem;
}

.korz_comment {
	margin-bottom: 1rem;
}

.korz_comment_text {
	font-family: Tahoma;
	height: 3.4rem;
	padding: 0.4rem;
	width: 100%;
	height: 0.8rem;
}

.nakop_sk {
	left: 14rem;
}

@media all and (max-width: 500px) {
	html {
		height: 100%;
		overflow-x: scroll;
	}
}

.header__menu-top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 84.7rem;
}

.menu--main {
	width: 80%;
}

.banner_free_ship_img {
	position: absolute;
	top: -1.5rem;
	right: -0.02rem;
	height: 5.167rem;
}

.banner_free_ship {
	width: 20%;
	position: relative;
}

.block_description_info {
	background: #e8e8e8;
	padding: 3.2rem;
	margin-top: 1rem;
}

.description_info_name {
	font-family: 'Rubik', 'Arial', sans-serif;
	font-size: 2rem;
}

.description_info_text {
	margin-top: 2rem;
	font-family: 'Rubik', 'Arial', sans-serif;
	font-size: 1.4rem;
	line-height: 1.8rem;
	text-align: justify;
}



.item_prod {
	border-width: .6rem;
	border-color: #d6d6d6;
	border-style: solid;
	height: 43.3rem;
	padding: 2.4rem 1.2rem 1rem;
	width: 32.4%;
	line-height: normal;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	min-width: 25.5rem;
	position: relative;
	margin-left: 1rem;
	-webkit-transition: all .15s linear;
	transition: all .15s linear;
	display: inline-block;
}

.item_prod:nth-child(3n+1) {
    margin-left: 0;
}

.item_prod:nth-child(n+4) {
    margin-top: 2rem;
}

.item_prod:hover {
	border-width: .6rem;
	border-color: #9d9d9d;
	border-style: solid;
}

.item_prod__picture-link {
	height: 19.5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.item_prod__picture {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.item_prod__title {
	font-family: 'ProximaNova';
	margin-top: 0.2rem;
	height: 6rem;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-bottom: 1.5rem;
	line-height: 2rem;
}

.item_prod__brand {
	color: #000000;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 3rem;
	text-align: center;
}

.item_prod__name {
	color: #000000;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.4rem;
	text-align: center;
}


.item_prod__price {
	font-family: 'ProximaNova';
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;

}

.item_prod__price-from {
	color: #676666;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 3.0rem;
	text-align: center;
}

.item_prod__price-to {
	color:	#000000;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3.0rem;
    text-align: center;
}

.item_prod__footer {
	width: 21.8rem;
	height: 3.5rem;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3.5rem;
}

.add-bask_prod {
	background-color: #DB00A8;
	width: 9rem;
	color: #f1dba0;
	font-weight: 400;
}

.item__buy_prod {
	background-color: #15CC00;
	width: 12.6rem;
	color:	#000000;
	font-weight: 600;
}

.button_prod {
	line-height: 2rem;
	height: 3.5rem;
	font-size: 1.3rem;
	text-align: center;
	position: relative;
	text-decoration: none;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: all .15s linear;
	transition: all .15s linear;
	cursor: pointer;
	font-family: 'ProximaNova';
}

.cart-block2__header_hide {
	font-family: 'Rubik', 'Arial', sans-serif;
	color: #000;
	font-size: 1.4rem;
	line-height: 2.5rem;
	font-weight: 300;
	text-align: left;
}

.cart-block2__header_hide a {
	color: #000;
}

.item_prod__picture-link .hot-price {
	top: 16rem;
	left: 22rem;
}

.poup_quick_order {
	background-color: #ffffff;
	box-shadow: 0rem 0rem 1.8rem 0rem rgba(0, 0, 0, 0.15);
	width: 60.7rem;
	height: 16.0rem;
	padding: 4.7rem 4.7rem 4.38rem;
	height: auto;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	margin-left: 0.83rem;
	border: 0.083rem solid #eee;
	z-index: 10;
	position: fixed;
	left: 50%;
	top: 50%;
}

.quick_order__content {
	width: auto;
	height: 7.0rem;
}

.quick_order-text {
	border-width: .1rem;
	border-color: #e6e6e6;
	border-style: solid;
	background-color: #ffffff;
	width: 32.2rem;
	height: 3.8rem;
	padding-left: 1.5rem;
	font-family: 'ProximaNova';
	color: #000000;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 2.4rem;
	text-align: left;
}


.quick_order-input, .quick_order-input-btn {
	margin-bottom: 1rem;
	width: 100%;
}

.quick_order-input-btn {
	margin-left: 1rem;
}

.quick_order-button {
	background-color: #000000;
	width: 18rem;
	height: 3.8rem;
	font-family: 'ProximaNova';
	color: #f0e1b6;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 2.4rem;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

.quick_order-mes {
	font-family: 'ProximaNova';
	color: #666666;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.8rem;
	text-align: center;
}

.quick_order__content .quick_order form {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.close-quick_order {
	width: 1.4rem;
	height: 1.4rem;
	position: absolute;
	right: 1rem;
	top: 1.5rem;
	background-image: url(/templates/images/close.png);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
	background-size: 1.4rem;
}

#overlay {
	z-index: 9;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.8);
	position: fixed;
}

.product-option__right .item__buy_prod {
	min-width: 12.6rem;
}

.content_thankyou_mes {
	font-family: 'Rubik', 'Arial', sans-serif;
	font-size: 1.4rem;
	line-height: 1.8rem;
	margin-top: 3rem;
	max-width: 100%;
    text-align: center;
    padding: 0;
}

.content_thankyou_mes a {
	text-decoration: underline;
	color: #000;
}

.in_basket {
	background-color: #15CC00;
}

.block_button_basket {
	text-align: center;
	margin-top: 1rem;
	top: -16rem;
	position: relative;
}

.block_button_basket .button {
	font-size: 1.4rem;
}

.block_button_basket .submit-js {
	margin-top: 1rem;
	background: #DB00A8;
}

.button_prod.add_to_cart {
	margin-right: 1rem;
	min-width: 9rem;
}

.info_tester {
	position: absolute;
	display: inline-block;
	margin-left: 0.5rem;
}

.info_tester span {
	background: #42474B;
	color: #fff;
	padding: 0.2rem 0.8rem;
	cursor: pointer;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	border-radius: 0.3rem;
}

.popup_tester {
	position: absolute;
	display: none;
	left: 3rem;
	top: -0.3rem;
	padding: 0.6rem 1.5rem 0.8rem 1.5rem !important;
	background: #fff;
	width: 23rem;
	-webkit-box-shadow: 0rem 0rem 0.5rem 0rem #666;
	-moz-box-shadow: 0rem 0rem 0.5rem 0rem #666;
	box-shadow: 0rem 0rem 0.5rem 0rem #666;
	text-align: justify;
	-webkit-border-radius: 0.3rem;
	-moz-border-radius: 0.3rem;
	border-radius: 0.3rem;
	z-index: 99;
}

.info_tester:hover .popup_tester {
	display: block;
}





.tabs.section__tabs {
	margin-bottom: 3.5rem;
}

.tab {
	border: none;
	padding: 0;
	font-weight: 500;
	font-family: 'Rubik', 'Arial', sans-serif;
	text-align: left;
	padding: 0px 1rem;
	font-size: 1.4rem;
	text-decoration: none;
	color: #000;
	-webkit-transition: all .15s linear;
	transition: all .15s linear;
}

.tab:nth-child(n+2) {
    margin-left: 5rem;
}

.tab:hover {
    background: transparent;
    color: #000
}

.tab span {
	border-bottom: 1px solid #000;
	padding-bottom: 0.3rem;
}

.tab--active {
	background: transparent;
	font-weight: bold;
	color: #000;
	position: relative;
}

.tab--active:after {
	content: normal;
}

.section__tab {
	min-width: 15rem;
}

.item__buy_prod {
	background-color: #94a540;
	font-size: 1.3rem;
	width: 11.1rem;
	color: #fff;
	font-weight: normal;
	-moz-border-radius: 0.6rem;
	-webkit-border-radius: 0.6rem; 
	-khtml-border-radius: 0.6rem; 
	border-radius: 0.6rem;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.item__buy_prod:hover {
	background-color: #c0cc1d;
}

.add-bask_prod {
	float: right;
	background-color: #9d3d9d;
	font-size: 1.3rem;
	width: 11.1rem;
	color: #fff;
	-moz-border-radius: 0.6rem;
	-webkit-border-radius: 0.6rem; 
	-khtml-border-radius: 0.6rem; 
	border-radius: 0.6rem;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.add-bask_prod:hover {
	background-color: #c723cc;
}

.item_prod {
	padding: 2.4rem 0.5rem 1rem;
}

.item_prod__footer {
	width: 100%;
}

.one-click-modal {
	background-color: #ffffff;
	z-index: 10;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 80rem;
	border: 1px solid #e6e7e7;
	padding: 1.5rem 2.5rem;
	height: auto;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.one-click-thumb {
	padding-top: 2rem;
	float: left;
	width: 23rem;
}

.one-click-thumb img {
	width: 23rem;
	height: auto;
	padding: 2rem;
}

.one-click-descr {
	padding-left: 18.6rem;
}

.one-click-descr p {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.one-click-info {
	font-size: 1.3rem;
	color: #cecfd0;
	margin-bottom: 2.5rem;
}

.one-click-made {
	margin-bottom: 1.5rem;
}

.one-click-made b {
	font-size: 1.6rem;	
}

.one-click-made span {
	position: relative;
	display: inline-block;
	margin-left: 1.5rem;
	padding-left: 1.5rem;
	font-size: 1.5rem;
	color: #8f9194;
}

.one-click-made span:before {
	vertical-align: top;
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -1px;
	width: 0.3rem;
	height: 0.3rem;
	-moz-border-radius: 0.3rem;
	-webkit-border-radius: 0.3rem; 
	-khtml-border-radius: 0.3rem; 
	border-radius: 0.3rem;
	background-color: #000;
}

.one-click-list {
	margin-bottom: 4rem;
}

.one-click-list ul {}

.one-click-list ul li {
	color: #8f9194;
	font-size: 1.5rem;
	margin-bottom: 0.3rem;
}

.one-click-form {}

.one-click-input {
	width: 30.5rem;
	float: left;
}

.one-click-input input {
	outline: none;
	padding: 0 1.5rem;
	height: 3.2rem;
	width: 100%;
	border: 1px solid #dadbdc;
	-moz-border-radius: 6rem;
	-webkit-border-radius: 6rem; 
	-khtml-border-radius: 6rem; 
	border-radius: 6rem;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	font-size: 1.4rem;
}

.one-click-input input:focus {
	border: 1px solid #000;
}

.one-click-bt {
	float: left;
	margin-left: 2rem;
	width: 13rem;
}

.one-click-bt input {
	outline: none;
	cursor: pointer;
	height: 3.4rem;
	line-height: 3.2rem;
	border: none;
	text-align: center;
	background-color: #94a540;
	font-size: 1.3rem;
	width: 100%;
	color: #fff;
	font-weight: normal;
	-moz-border-radius: 6rem;
	-webkit-border-radius: 6rem; 
	-khtml-border-radius: 6rem; 
	border-radius: 6rem;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.one-click-bt input:hover {
	background-color: #c0cc1d;
}

.close-modal {}

.close-modal {
	position: absolute;
	z-index: 10;
	width: 4.4rem;
	height: 4rem;
	top: 0;
	right: 0;
	cursor: pointer;
}

.close-modal:before, .close-modal:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -0.7rem;
	margin-top: -1px;
	width: 1.5rem;
	height: 0.2rem;
	background-color: #666666;
}

.close-modal:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.close-modal:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

figcaption {
	text-align: center;
	margin-top: 1rem;
}

.prod_title_top {
	margin-top: 1rem;
}

.pagination_control {
	width: 100%;
	border: 0;
	padding: 0;
	border-spacing: 0;
}

.pagination_control tr {
	text-align: center;
}

.pagination_control_l, .pagination_control_l_spec, .pagination_control_r {
	width: 25%;
}

.pagination_control_l, .pagination_control_l_spec {
	text-align: right;
}

.pagination_control_l_spec {
	padding-right: 1rem; 
}
 
 .pagination_control_r {
	text-align: left; 
}

.pagination_pages {
	width: 100%;
	border: 0;
	padding: 0.6rem;
	border-spacing: 0;
}

.pagination_pages tr {
	text-align: center; 
}

.pagination_pages td {
	height: 3rem;
	text-align: center;
}

.pagination_pages .navigation {
	text-align: center;
}

.content_table_news {
	width: 100%;
	border: 0;
	padding: 0;
	border-spacing: 0;
}

.content_table_news tr td {
	vertical-align: top;
}

.content_table_news tr td:nth-child(2) {
	width: 15rem;
	text-align: center;
}

.content_table_news tr td:nth-child(1) img {
	width: 20rem;
	margin-right: 1.5rem;
	text-align: left;
	float: left;
}

.content_table_news tr td:nth-child(2) img {
	width: 10rem;
}

.item_prod {
	margin: 0.9rem !important;
	margin-left: 0.35rem !important;
	margin-right: 0.35rem !important;
}

.content_contacts section:nth-child(3){
	margin-top: 1rem;
}

#certificate_items {
	padding-left: 0;
	padding-right: 0;
}

.certificate_item {
	margin-left: 0.1rem !important;
	margin-right: 0.1rem !important;
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: auto;
}

.container_err {
	display: block;
	text-align: center;
	font-style: italic;
	margin-top: 0;
}
	
.container_err img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

.wrapper_err {
	padding: 1rem;
}

.ol_numb, .ol_numb_bracket {
	list-style-position: inside;
	line-height: 1.5;
}

.ol_numb {
	list-style-type: decimal;
}

.ol_numb li {
	font-weight: 500;
	margin-left: 2rem;
	margin-top: 1.5rem;
}

.ol_numb_bracket {
	list-style-type: none;
    counter-reset:  item;
}

.ol_numb_bracket li {
	font-weight: 300;
	margin-left: 0;
	margin-top: 1.5rem;
}

.ol_numb_bracket li:before {
    content: counter(item) ') ';
    counter-increment: item;
}

.not_available_prod:after {
	content: "Нет в наличии";
}

.not_available_prod_card {
	font-family: 'Rubik', 'Arial', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.b_style {
	font-weight: 600;
}

.block_err404 {
	width: 50rem;
}

.breadcrumbs_err_404 {
	font-size: 2rem;
	font-weight: 400;
	color: #DB00A8;
}

.top_banner_big img {
	width: 84.7rem;
}

.text_bold {
	font-weight: 500;
	margin-left: 2rem;
	margin-top: 1.5rem;
}

.text_center_alignment {
	text-align: center;
}

.ol_numm {
	list-style-type: decimal;
	line-height: 1.5;
}
/*
.ol_numm li {
	margin-left: 2rem;
}
*/
.list_style_outside {
	list-style-position: outside;
}

.list_style_inside {
	list-style-position: inside;
}

.text_left_alignment {
	text-align: left;
}

.text_italics {
	font-style: italic;
}

.text_marg_top {
	margin-top: 1.5rem;
}