<table class="page_top pagination_control">
	<tr>
	<td class="pagination_control_l">{$start}</td>
	<td class="pagination_control_l_spec">{$prev}</td>
	<td class="pagination_control_r">{$next}</td>
	<td class="pagination_control_r">{$end}</td>
	</tr>
</table>

<table class="pagination_pages">
      <tr>
        <td>
		<div class="navigation">
			{$tprev}
			{$page_1}
			{$page_2}
			{$page_3}
			{$page_4}
			{$page_5}
			{$page_6}
			{$page_7}
			{$page_8}
			{$page_9}
			{$page_10}
    		{$tnext}
		</div>
	</td>
      </tr>
</table>