body {margin : 0px; font-family:Arial; font-size:10pt;}

.header {font-size:16pt;text-decoration:underline;}


.table1{border:1px gray solid; }
.table1 td div{padding-top:5px; }

.table2{border:1px gray solid; }
.table2 td div{padding-top:5px; }
.sum_total {font: bold 14pt Arial; }

.table3{border:1px gray solid; }

.order_head {background-color: #000; color:#fff;font: bold 12pt Arial;}