.modal-backdrop {
    background: #000000;
}
.modal-backdrop, .modal-backdrop.fade.in {
    opacity: .5;
}
.modal__black {
    color: #ffffff;
    border-radius: 5px;
}
.modal__black.modal h4 {
    font-weight: normal;
}
.modal__black .modal-body {
    background: #111;
    padding: 15px;
}
.modal__black .modal-header {
    background: #111;
    font-size: 14px;
    border: 0;
    padding-bottom: 0;
}
.modal__black .modal-footer {
    background: #111;
    border: 0;
    box-shadow: none;
}
.option {
    background-color: #191919;
    color: #aaa;
    cursor: pointer;
    height: 50px;
    position: relative;
    margin: 1px 0 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.03);
    -webkit-transition: all 100ms cubic-bezier(.25,.46,.45,.94);
    -moz-transition: all 100ms cubic-bezier(.25,.46,.45,.94);
    -o-transition: all 100ms cubic-bezier(.25,.46,.45,.94);
}
.divider {
    height: 1px;
    margin: 15px 0;
}
.option:hover {
    background-color: #222;
    color: #fff;
}
.option.icon-commerce-coupon-any {
    background-image: url('http://fixon.ru/public/images/icon-commerce-coupon-any-32-light-solid.png');
}
.option.icon-commerce-coupon-at-least {
    background-image: url('http://fixon.ru/public/images/icon-commerce-coupon-more-than-32-light-solid.png');
}
.option.icon-commerce-coupon-category {
    background-image: url('http://fixon.ru/public/images/icon-commerce-coupon-category-32-light-solid.png');
}
.option.icon-commerce-coupon-single {
    background-image: url('http://fixon.ru/public/images/icon-commerce-coupon-single-32-light-solid.png');
}
.option.icon-commerce-coupon-discount-flat {
    background-image: url('http://fixon.ru/public/images/icon-commerce-discount-flat-$-32-light-solid.png');
}
.option.icon-commerce-coupon-discount-percentage {
    background-image: url('http://fixon.ru/public/images/icon-commerce-discount-percent-32-light-solid.png');
}
.option.icon-commerce-coupon-discount-free-shipping {
    background-image: url('http://fixon.ru/public/images/icon-commerce-shipping-light-solid-32x32.png');
}
.option-title {
    font-size: 15px;
    text-align: left;
    top: 15px;
    left: 15px;
    position: absolute;
}
.option-description {
    font-size: 10px;
    position: absolute;
    top: 40px;
    left: 70px;
    color: #ccc;
}
.modal-header .close {
    margin-top: -2px;
    color: #eee;
    text-shadow: none;
    opacity: .8;
}
.modal-header .close:hover {
    opacity: 1;
}