* {margin: 0;padding: 0;}
body {font: 11px/18px Tahoma, Verdana, sans-serif;width: 100%;background:black;color:white}
a {color: white;outline: none;text-decoration: underline;}
a:hover {text-decoration: none;}
p {margin: 0 0 5px}
img {border: none;}
input {vertical-align: middle}
#wrapper {width: 1000px;margin: 0 auto;}
.clear {clear:both}

/* Middle
-----------------------------------------------------------------------------*/
#content {position:relative;margin-top:110px;height:460px;}


/* Footer
-----------------------------------------------------------------------------*/
#footer {height: 150px;color:#4d4d4d;padding:60px 0 0 230px}

#logo {z-index:999;position:absolute;width:178px;height:21px;overflow:hidden;background:url(/images/project/1-million/logo.png) no-repeat;left:190px;top:20px;}
#logo a {display:block;width:178px;height:21px;position:relative;text-indent:-9999px}
#left_wrap {position:absolute;left:10px;top:24px;min-height:410px;_height:410px;width:608px;background:url(/images/project/1-million/left_bg.jpg) left top no-repeat;z-index:3}
#right_wrap {position:absolute;left:616px;top:56px;min-height:358px;_height:358px;width:333px;background:url(/images/project/1-million/right_bg.jpg) left top no-repeat;z-index:1}
#right_wrap #photo {position:absolute;width:365px;height:369px;background:url(/images/project/1-million/photo.jpg) left top no-repeat;z-index:2;left:-33px;top:-17px;}
#enigme {position:absolute;display:block;text-indent:-9999px;z-index:999;width:156px;height:21px;background:url(/images/project/1-million/enigme.png) no-repeat;left:700px;top:20px;}

#left_wrap h2 {height:30px;width:185px;position:absolute;text-indent:-9999px;background:url(/images/project/1-million/1.png) no-repeat;left:178px;top:90px}
#left_wrap #text_wrap {position:absolute;top:136px;left:88px;width:280px;text-align:right;line-height:15px}
#left_wrap #text_wrap h3 {cursor:default;color:#d39d43;font-size:12px;font-weight:normal;background:white;padding:5px 15px;line-height:12px;width:79px;margin:7px 0 7px;float:right;}

#bottom_wrap {z-index:9;background:#ccc;position:absolute;top:435px;left:0;width:100%;}
#bottom_wrap #price {position:absolute;left:163px;top:-10px;background:url(/images/project/1-million/price.png) no-repeat;width:211px;height:36px;text-indent:-9999px;}
#bottom_wrap a {font-weight:bold;position:absolute;font-size:16px;left:472px;top:0;cursor:pointer;}
#bottom_wrap span {font-weight:bold;position:absolute;font-size:16px;left:659px;top:0;}

#form {position:absolute;left:40px;top:55px;display:none}
#form span {padding-right:23px;}
#form input#kol {color:#d39d43;border:0 none;left:0;padding:1px 6px;position:absolute;top:28px;width:34px;}
div#sum {color:white;font-size:14px;font-weight:bold;left:91px;position:absolute;top:24px;width:200px;}
div#sum b {font-size:16px;}
div#sum a {color:white;font-size:11px;font-weight:normal;padding-left:27px;}
#inputs {position:absolute;top:52px;}
.inputs {color:#d39d43;width:247px;border:0;padding:3px 5px;margin-bottom:7px;font-size:11px;}
textarea {color:#d39d43;font-family:Tahoma;font-size:11px;height:35px}
#gogogo {float:right;color:white;border:0;background:none;cursor:pointer;*margin-right:48px}
#re {cursor:pointer;line-height:18px;}
#re:hover {text-decoration:none;}