{strip}
<tr style="background-color:{$item[i].bgcolor};">
	<td align="center" height="20px"><input type="checkbox" name="id[]" value="{$item[i].id}"></td>
	<td align="center">{$item[i].n}.</td>
	<td align="left">
		<b>&nbsp;{$item[i].username}</b>
	</td>
	<td align="left">&nbsp;{$item[i].name}</td>
	<td align="center"><a href="mailto:{$item[i].email}">{$item[i].email}</a></td>
	<td align="center">{$item[i].registerDate}</td>
	<td align="center">{$item[i].lastvisitDate}</td>
	<td align="center"><img src="images/{$item[i].is_block}" width="14" height="14" border="0"></td>
</tr>
{/strip}